.Home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .Home {
    height: 100vh;
    flex-direction: row;
    overflow: hidden;
  }
}
