.Home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #fff;
  overflow-x: hidden;
}

.study-cases-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  justify-content: flex-start;
  flex: 2;
  padding: 2rem 2rem;
  border-right: 1px solid #c4c4c4;
}

@media (min-width: 768px) {
  .Home {
    height: 100vh;
    flex-direction: row;
    overflow: hidden;
  }
}
