.logos-section {
  display: flex;
  min-width: 15%;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  flex: 0;
  padding: 2rem 0 0 0;
}

.logos-section h1 {
  font-weight: 600;
  width: 100%;
  text-wrap: nowrap;
  padding: 0 2rem;
}

.logos-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
}

.logo-box {
  display: flex;
  width: 100%;
  padding: 0 2.5rem;
}

.logos-section img {
  width: 100%;
  height: auto;
}
